<div class="app-wrapper">
  <div class="app-header">
    <span class="copyright">&copy; Louis Walker 2016</span>

    <span class="version">AIBT2 v{{ver}}</span>
  </div>

  <md-card>
    <md-card-title>Are You Bag Today?</md-card-title>

    <md-card-subtitle>{{subtitle}}</md-card-subtitle>

    <md-card-content>
      <span [attr.class]="'answer ' + 'answer--' + lastAnswer.answer"
      >{{lastAnswer.answer | answer}}</span>

      <aibt-answer-ratio></aibt-answer-ratio>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>Recent Answers</md-card-title>

    <md-card-content>
      <ul>
        <li *ngFor="let ans of answers">
          <img 
            [attr.alt]="ans.country_code"
            [attr.src]="'../../assets/img/flags/' + ans.country_code + '.png'" 
          />

          <span>{{ans.country_name}}</span>

          <span>{{ans.timestamp | unixPassed}}</span>
        </li>
      </ul>
    </md-card-content>
  </md-card>
</div>