<div class="app-wrapper">
  <div class="app-header">
    <span class="copyright">&copy; Louis Walker 2016</span>

    <span class="version">AIBT2 v{{ver}}</span>
  </div>

  <md-card>
    <md-card-title>Are You Bag Today?</md-card-title>

    <md-card-subtitle>{{subtitle}}</md-card-subtitle>

    <md-card-content>
      <span [attr.class]="'answer ' + 'answer--' + answer"
      >{{answer | answer}}</span>

      <aibt-answer-ratio [answers]="answers$"></aibt-answer-ratio>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>Recent Answers</md-card-title>

    <md-card-content>
      
    </md-card-content>
  </md-card>
</div>