/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #3498DB;
}

/* Custom Material Design Styles */
md-card {
    margin-bottom: 4vh;
    text-align: center;
}

/* App Init Loader Styles */
.loader {
    display: block;
    width: 60%;
    margin: 32vh auto;
    color: white;
    text-align: center;
}

.loader:before {
    content: "Are you bag today?";
    display: block;
    width: 100%;
    margin-bottom: 2vh;
    font: 500 32px "Roboto", sans-serif;
}

.loader:after {
    content: "Loading vital assets...";
    display: block;
    width: 100%;
    font: 300 18px "Roboto", sans-serif;
}